.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

*/*/src/main/resources/*.yml

# nginx ssl / private keys
nginx/ssl/*
!nginx/ssl/.gitkeep

# logs
logs/*
!logs/.gitkeep

nginx/logs/*
!nginx/logs/.gitkeep
